{% extends 'base.html' %}

{% block content %}
<h2>Upload CSV File</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Upload</button>
</form>
{% if summary %}
<h3>Summary Report</h3>
<p>Total Data: {{ summary.total_data }}</p>
<p>Total Successfully Uploaded: {{ summary.total_success }}</p>
<p>Total Duplicate: {{ summary.total_duplicate }}</p>
<p>Total Invalid: {{ summary.total_invalid }}</p>
<p>Total Incomplete: {{ summary.total_incomplete }}</p>

{% if summary.duplicate_rows %}
<h4>Duplicate Rows:</h4>
<ul>
  {% for row in summary.duplicate_rows %}
  <li>{{ row.row }} - {{ row.reason }}</li> <!-- Display the details of each duplicate row and the reason -->
  {% endfor %}
</ul>
{% endif %}

{% if summary.invalid_rows %}
<h4>Invalid Rows:</h4>
<ul>
  {% for row in summary.invalid_rows %}
  <li>{{ row.row }} - {{ row.reason }}</li> <!-- Display the details of each invalid row and the reason -->
  {% endfor %}
</ul>
{% endif %}
{% endif %}


{% endblock %}